/* ROOM SEARCH STYLING */
.search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin:0 auto;
    
}

.search-field {
    flex: 1 1 calc(33.33% - 10px);
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-field label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.search-field input,
.search-field select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

.home-search-button {
    margin-left: 10px;
    padding: 15px 20px;
    background-color: blue;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.home-search-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .search-field {
        flex: 1 1 100%;
    }
    .search-container {
        margin:0 auto;
    }
}
