@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.edit-booking-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #f5f5f5;
  min-height: 100vh;
  text-align: center;
  width: 75%;
  margin:0 auto;
  margin-bottom:20px;
}

h2 {
  font-size: 32px;
  color: grey;
  text-decoration: underline;
  margin-bottom: 30px;
}

.booking-details {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  width: 75%;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.booking-details h3 {
  color: blue;
  text-decoration: underline;
  margin-bottom: 15px;
}

.booking-details p {
  font-size: 16px;
  margin-bottom: 10px;
}

.label {
  font-weight: 700;
  color: blue;
}

.room-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}

.cancel-button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color:red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-button:hover {
  background-color: red;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 20px;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Responsive design */
@media (max-width: 768px) {
  .booking-details {
    padding: 20px;
    width: 85%;
  }

  .cancel-button {
    width: 100%;
  }

  h2 {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 24px;
  }

  .booking-details {
    width: 90%;
    padding: 15px;
  }

  .cancel-button {
    padding: 12px;
    font-size: 16px;
    color:red;
  }
}
